:root {
    --white: #FFF;
    --azul-marino:#003366;
    --dark-jungle: #1B1F21;
    --outer-space: #444749;
    --plomo-claro: #9b9b9b;
    --old-silver: #dbdbdb;
    }

* {
    padding: 0;
    margin: 0;
}
/* Typography */
body {
    font-family: 'Roboto', sans-serif;
}

header{
    grid-area: header;
    background-color: var(--azul-marino);
    }
menu{
    grid-area: menu;
    background-color: var(--old-silver);
    padding: 15px 0 0 30px;
    }
main{
    grid-area: main;
    background-color: var(--old-silver);
    padding: 15px;
    }
footer{
    grid-area: footer;
    background-color: var(--white);
    text-align: center; 
    width: 100%; 
    padding: 20px 0; 
    font-size: 15px; 
    
    }

.grid-container{
    display: grid;
    grid-template-columns: auto 85%;
    grid-template-rows: auto 85vh auto;
    grid-template-areas:
    "header header"
    "menu main"
    "footer footer";
    gap: 0px;
    }     

.navbar {
    color: var(--white);
    text-align: center; 
    width: 100%; 
    padding: 20px 0; 
    font-size: 24px; 
    font-weight: bold; 

}
.categories-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark-jungle);
}
.category-list {
    list-style: none;
    padding-left: 0;
}
.category-item {
    font-size: 18px;
    margin: 5px 0;
}
.category-count {
    font-weight: bold;
    color: var(--plomo-claro);
}
